
<div class="container">
    <div class="row">
      <h1 class="title-list">Information</h1>
      
      <div *ngIf="students.length > 0">
        <div class="parent-card" *ngFor="let student of students">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ student.name }}</h5>
              <p class="card-text"><strong>Mã SV:</strong> {{ student.maSV }}</p>
              <p class="card-text"><strong>Ngày:</strong> {{ student.date }}</p>
              <p class="card-text"><strong>Nhóm:</strong> {{ student.group }}</p>

              <div class="button-group">
                <button class="btn" (click)="editStudent(student)">
                    <i class="fa-solid fa-pen-to-square"></i> Edit
                </button>
                <button class="btn" (click)="deleteStudent(student.maSV)">
                  <i class="fa-solid fa-trash"></i> Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-add" (click)="addStudent()">
        <i class="fa-solid fa-plus"></i>Thêm
      </button>
    </div>
  
    <div *ngIf="students.length === 0">
      <p>Không có sinh viên nào.</p>
    </div>
  </div>


  <div *ngIf="selectedStudent" class="edit-student-container">
    <h2 class="edit-title">Edit Student</h2>
    <form (ngSubmit)="updateStudent()" class="edit-student-form">
      <div class="form-group">
        <label>Name:</label>
        <input type="text" [(ngModel)]="selectedStudent.name" name="name" required />
      </div>
      <div class="form-group">
        <label>MaSV:</label>
        <input type="number" disabled [(ngModel)]="selectedStudent.maSV" name="maSV" required readonly />
      </div>
      <div class="form-group">
        <label>Date:</label>
        <input type="text" [(ngModel)]="selectedStudent.date" name="date" required />
      </div>
      <div class="form-group">
        <label>Group:</label>
        <input type="text" [(ngModel)]="selectedStudent.group" name="group" required />
      </div>
      <div class="form-buttons">
        <button type="submit" class="btn-update">Update</button>
        <button type="button" class="btn-cancel" (click)="selectedStudent = null">Cancel</button>
      </div>
    </form>
  </div>
  
  