<app-navbar></app-navbar>

<div class="container register-check">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-4">
            <h2 class="heading-section">Đăng ký</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-8">
            <div class="login-wrap p-4 p-md-5 shadow rounded">
                <div class="icon d-flex align-items-center justify-content-center mb-4">
                    <span class="fa fa-user-o fa-3x"></span>
                </div>
                
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <!-- Full Name & Username -->
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="full-name">Tên đầy đủ:</label>
                            <div class="input-wrapper">
                                <i class="fa fa-user"></i>
                                <span class="separator-line"></span>
                                <input type="text" id="full-name" formControlName="fullName" placeholder="Nhập tên đầy đủ của người dùng" />
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="username">Tên tài khoản :</label>
                            <div class="input-wrapper">
                                <i class="fa fa-user-circle"></i>
                                <span class="separator-line"></span>
                                <input type="text" id="username" formControlName="userName" placeholder="Tên tài khoản dùng để đăng nhập" />
                            </div>
                        </div>
                    </div>

                    <!-- Email & Date of Birth on same row -->
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email">Email:</label>
                            <div class="input-wrapper">
                                <i class="fa fa-envelope"></i>
                                <span class="separator-line"></span>
                                <input type="email" id="email" formControlName="email" placeholder="Email dùng để khôi phục tài khoản" />
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="date-user">Ngày sinh:</label>
                            <div class="input-wrapper">
                                <i class="fa fa-calendar-alt"></i>
                                <span class="separator-line"></span>
                                <input type="date" formControlName="dateUser" id="date-user" />
                            </div>
                        </div>
                    </div>

                    <!-- Password & Confirm Password -->
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="password">Mật khẩu:</label>
                            <div class="input-wrapper">
                                <i class="fa fa-lock"></i>
                                <span class="separator-line"></span>
                                <input type="password" id="password" formControlName="password" placeholder="Mật khẩu dùng để đăng nhập" />
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="confirm-password">Xác nhận mật khẩu:</label>
                            <div class="input-wrapper">
                                <i class="fa fa-lock"></i>
                                <span class="separator-line"></span>
                                <input type="password" id="confirm-password" formControlName="confirmPassword" placeholder="Xác nhận mật khẩu đăng nhập" />
                            </div>
                        </div>
                    </div>

                    <!-- Address -->
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="address">Địa chỉ:</label>
                            <div class="input-wrapper">
                                <i class="fa fa-map-marker-alt"></i>
                                <span class="separator-line"></span>
                                <input list="provinces" formControlName="address" id="address" placeholder="Nhập hoặc chọn tỉnh thành" />
                            </div>
                        </div>
                    </div>

                    <!-- Error Message -->
                    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                        {{ errorMessage }}
                    </div>

                    <!-- Submit Button -->
                    <div class="submit-container text-center">
                        <button type="submit" class="btn btn-primary rounded submit p-3 px-5" >Xác nhận</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
