version: '3.4'

services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: mssql
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: ${SA_PASSWORD}
    env_file:
      - .env
    ports:
      - "1433:1433"
    volumes:
      - sql_volume:/var/opt/mssql
    networks:
      - news-network

  redis:
    image: redis:8.0.3
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - news-network

  rabbitmq:
    image: rabbitmq:3.13.7-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - news-network

  web1:
    build:
      context: .
      dockerfile: Web1/Dockerfile
    container_name: web1
    environment:
      - ASPNETCORE_URLS=http://+:80;
    env_file:
      - .env
    ports:
      - "8000:80"
    depends_on:
      - mssql
      - redis
      - rabbitmq
    networks:
      - news-network

  frontend1:
    build:
      context: ./Web1/ClientApp/my-angular-app
      dockerfile: Dockerfile
    container_name: frontend1
    ports:
      - "8080:80"
    depends_on:
      - web1
    networks:
      - news-network

volumes:
  sql_volume:

networks:
  news-network:
    driver: bridge
