<!-- Loading -->
<div *ngIf="loading" class="loading-overlay">
    <div class="spinner-container">
      <div class="spinner"></div>
      <p>Vui lòng chờ ...</p>
    </div>
  </div>
  
  
  <div class="email-container" >
    <div class="email-header">
      Đặt lại mật khẩu
    </div>
    <div class="email-body">
        <form [formGroup]="UpdateForm" (ngSubmit)="onSubmit()">
            <p>Vui lòng nhập mật khẩu mới của bạn</p>
          
            <!-- Input Mật khẩu mới -->
            <div class="form-floating mb-3">
              <input type="text" class="form-control rounded-input" id="floatingPassword" formControlName="password" placeholder="Mật khẩu mới" required>
              <label for="floatingPassword">Mật khẩu mới</label>
          
              <!-- Hiển thị lỗi cho mật khẩu -->
              <div *ngIf="UpdateForm.get('password')?.invalid && UpdateForm.get('password')?.touched" class="error-message">
                <div *ngIf="UpdateForm.get('password')?.hasError('required')">Mật khẩu không được để trống.</div>
                <div *ngIf="UpdateForm.get('password')?.hasError('invalidPassword')">
                  {{ UpdateForm.get('password')?.getError('invalidPassword') }}
                </div>
              </div>
            </div>
          
            <!-- Input Xác nhận mật khẩu mới -->
            <div class="form-floating mb-3">
              <input type="text" class="form-control rounded-input" id="floatingConfirmPassword" formControlName="confirmPassword" placeholder="Xác nhận mật khẩu mới" required>
              <label for="floatingConfirmPassword">Xác nhận mật khẩu mới</label>
          
              <!-- Hiển thị lỗi cho xác nhận mật khẩu -->
              <div *ngIf="UpdateForm.get('confirmPassword')?.invalid && UpdateForm.get('confirmPassword')?.touched" class="error-message">
                <div *ngIf="UpdateForm.get('confirmPassword')?.hasError('required')">Vui lòng nhập lại mật khẩu.</div>
              </div>
          
              <!-- Hiển thị lỗi cho xác nhận mật khẩu không khớp -->
              <div *ngIf="UpdateForm.hasError('passwordMismatch') && UpdateForm.get('confirmPassword')?.touched" class="error-message">
                {{ UpdateForm.getError('passwordMismatch') }}
              </div>
            </div>
          
            <button type="submit" [disabled]="UpdateForm.invalid">Xác nhận</button>
          </form>
      
    </div>
  </div>