<footer>
    <div class="footer-end">
        <div class="container">
            <div class="footer-logo">
                <a class="footer-brand" href="#"><img src="../../../assets/logo8.png" class="footer-logo">Vamos</a>
                <div class="footer-contact">
                    <h3 class="info-footer">Thông tin liên hệ</h3>
                    
                    <div class="phone"><i class="fa-solid fa-phone phone"></i> 0317.318.639</div>
                    <div class="mail"><i class="fa-regular fa-envelope mail"></i> vamos&#64;gmail.com</div>
                    <div class="location"><i class="fa-solid fa-location-pin"></i> Tòa nhà C'Land - 156 Xã Đàn 2, Đống Đa, Hà Nội</div>
                </div>
                <div class="footer-follow">
                    <a href="#" ><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" ><i class="fa-brands fa-twitter"></i></a>
                    <a href="#" ><i class="fa-brands fa-instagram" ></i></a>
                    <a href="#" ><i class="fa-brands fa-github"></i></a>
                </div>
            </div>

            <div class="footer-link">
                <h3 class="link-fast">Liên kết nhanh</h3>
                <div class="link-element"><a href="#"><i class="fa-solid fa-caret-right"></i>   Home</a></div>
                <div class="link-element"><a href="#"><i class="fa-solid fa-caret-right"></i>   Favorite</a></div>
                <div class="link-element"><a href="#"><i class="fa-solid fa-caret-right"></i>   Blog</a></div>
                <div class="link-element"><a href="#"><i class="fa-solid fa-caret-right"></i>   Contact</a></div>
            </div>

            <div class="footer-support">
                <h3 class="link-support">Hỗ trợ</h3>
                <div class="link-element"><a href="#"><i class="fa-solid fa-caret-right"></i>   Home</a></div>
                <div class="link-element"><a href="#"><i class="fa-solid fa-caret-right"></i>   Favorite</a></div>
                <div class="link-element"><a href="#"><i class="fa-solid fa-caret-right"></i>   Blog</a></div>
                <div class="link-element"><a href="#"><i class="fa-solid fa-caret-right"></i>   Contact</a></div>
            </div>
        </div>
    </div>
</footer>