<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <h1 class="title-list">Information</h1>
    <div *ngIf="students.length > 0">
      <div class="parent-card" *ngFor="let student of students">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ student.name }}</h5>
            <p class="card-text"><strong>Mã SV:</strong> {{ student.maSV }}</p>
            <p class="card-text"><strong>Ngày:</strong> {{ student.date }}</p>
            <p class="card-text"><strong>Nhóm:</strong> {{ student.group }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="students.length === 0">
    <p>Không có sinh viên nào.</p>
  </div>
</div>

<editor
  [(ngModel)]="editorData"
  [init]="{
    height: 300,
    menubar: false,
    plugins: 'link image code',
    toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright | link image',
  }"
></editor>


