.container {
    width: 80%; /* Đặt chiều rộng cho container */
    margin: 0 auto; /* Căn giữa container */
}

.card {
    
    float: left;
    margin-left: 20px;
}

.card-body {
    width: 200px;
}

.title-list {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}