<div class="menu-container">
    <h4 class="text-center py-3">Menu</h4>
    <a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <i class="fas fa-tachometer-alt"></i> Tổng quan
    </a>
    <a routerLink="/admin/ManagePost" routerLinkActive="active" >
      <i class="fas fa-edit"></i> Quản lý bài viết
    </a>
    <!-- <a routerLink="/admin/PostDetail" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fas fa-file-alt"></i>Chi tiết bài viết</a> -->
    <a routerLink="/admin/Category" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fas fa-list"></i> Quản lý danh mục</a>
    
    <a routerLink="/admin/User" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fas fa-users" ></i> Quản lý người dùng</a>
    <a routerLink="/admin/Comment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fas fa-comments"></i> Quản lý bình luận</a>
    <!-- <a href="#"><i class="fas fa-chart-bar"></i> Thống kê</a> -->

    
   
  </div>
  