<div class="overlay" *ngIf="typeNotify">
    <div class="card" >
      <div class="icon">
        <div class="checkmark-circle">
          <i class="fas fa-check-circle"></i>
        </div>
      </div>
      <h2>Thành Công!</h2>
      <p>Quay lại tự động sau {{ countdown }} giây...</p>
      <button (click)="goBack()">OK</button>
    </div>
  </div>
  






  <!-- <div class="notification">
    <span class="icon"><i class="fas fa-check-circle"></i></span>
    <div class="message">
      <h5>Thành công</h5>
      <p>Hệ thống vừa cập nhật!</p>
    </div>
    
    <span class="close">&times;</span>
    <div class="progress-bar"></div>
  </div> -->

  <div class="error-notification" *ngIf="!typeNotify">
    <span class="error-icon"><i class="fas fa-times-circle"></i></span>
    <div class="error-message">
      <h5>Lỗi</h5>
      <!-- <p>Đã xảy ra lỗi trong hệ thống!</p> -->

      <p *ngIf="messageNotify.length === 0">Nhập thiếu các trường có dấu <i class="fa-solid fa-circle-exclamation" style="color: #f44336;"></i></p>
      <p *ngIf="messageNotify && messageNotify.length > 0">{{ messageNotify }}</p>
    </div>
    <span class="error-close">&times;</span>
    <div class="error-progress-bar"></div>
  </div>
  




  <!-- <div class="notification success">
    <span class="icon">✔️</span>
    <div class="content">
        <h5>Success</h5>
        <p>Anyone with access can view your invited visitors.</p>
    </div>
    <button class="close-btn">✖️</button>
  </div> -->

  <!-- <div class="notification-container">
    <div class="notification success">
        <span class="icon">✔️</span>
        <div class="content">
            <h5>Success</h5>
            <p>Anyone with access can view your invited visitors.</p>
        </div>
        <button class="close-btn">✖️</button>
    </div>
    
    <div class="notification info">
        <span class="icon">ℹ️</span>
        <div class="content">
            <h5>Info</h5>
            <p>Anyone with access can view your invited visitors.</p>
        </div>
        <button class="close-btn">✖️</button>
    </div>
    
    <div class="notification warning">
        <span class="icon">⚠️</span>
        <div class="content">
            <h5>Warning</h5>
            <p>Anyone with access can view your invited visitors.</p>
        </div>
        <button class="close-btn">✖️</button>
    </div>
</div> -->











  