<div class="overlay" *ngIf="typeNotify">
    <div class="card" >
      <div class="icon">
        <div class="checkmark-circle">
          <i class="fas fa-check-circle"></i>
        </div>
      </div>
      <h2>Thành Công!</h2>
      <p>Quay lại tự động sau {{ countdown }} giây...</p>
      <button (click)="goBack()">OK</button>
    </div>
  </div>
  

  <div class="error-notification" *ngIf="!typeNotify">
    <span class="error-icon"><i class="fas fa-times-circle"></i></span>
    <div class="error-message">
      <h5>Lỗi</h5>
      <!-- <p>Đã xảy ra lỗi trong hệ thống!</p> -->

      <p *ngIf="messageNotify.length === 0">Nhập thiếu các trường có dấu <i class="fa-solid fa-circle-exclamation" style="color: #f44336;"></i></p>
      <p *ngIf="messageNotify && messageNotify.length > 0">{{ messageNotify }}</p>
    </div>
    <span class="error-close">&times;</span>
    <div class="error-progress-bar"></div>
  </div>
  




 










  