<!-- Content Add Tin Tuc -->
<app-navbar-admin></app-navbar-admin>

<div class="container-fluid">
    <div class="row">
       <!-- Sidebar -->
       <div class="col-md-2 sidebar">
        <app-menu-admin></app-menu-admin>
      </div>
      
      <div class="col-md-10 content">
        <div class="main-wrapper">
          <div class="content-left">
            <h2 class="my-4">Mô tả chi tiết bài viết</h2>
            <button class="btn-back" (click)="goBack()">
              <i class="fas fa-arrow-left"></i> Quay lại
            </button>
          </div>
        
          <div *ngIf="showNotify" class="notify-wrapper">
            <app-success [typeNotify]="typeNotify" [messageNotify]="messNotify"></app-success>
          </div>
        </div>
        

        <div class="progress_bar text-center">
          <ul class="progress_bar-steps" data-cur_step_index="0">
            <li class="progress_bar-step" [ngClass]="{'active': currentStep >= 1}">
              <span>1</span>
            </li>
            <li class="progress_bar-step" [ngClass]="{'active': currentStep >= 2}">
              <span>2</span>
            </li>
            <li class="progress_bar-step" [ngClass]="{'active': currentStep >= 3}">
              <span>3</span>
            </li>
            <li class="progress_bar-step" [ngClass]="{'active': currentStep >= 4}">
              <span>4</span>
            </li>
            <li class="progress_bar-progress" [style.width]="progressWidth + '%'"></li>
          </ul>
        </div>

        <div class="body-form">
          <!-- Nội dung từng bước -->
          <form [formGroup]="postForm" >
            <div *ngIf="currentStep === 1" class="step-content">
              
              <h3>Thêm mới thông tin cơ bản</h3>
              <div class="container-excel">
                <button class="import-btn" (click)="openFileDialog()">Import Excel</button>
                

                <!-- Nền tối -->
                <div *ngIf="isDialogOpen" class="overlay" (click)="closeFileDialog()"></div>
              
                <!-- Bảng thông báo Drag and Drop -->
                <div *ngIf="isDialogOpen" class="file-dialog">
                  <button class="download-btn" (click)="downloadTemplate()">Tải xuống mẫu</button>
                  <div
                    class="drop-area"
                    (dragover)="onDragOver($event)"
                    (dragleave)="onDragLeave($event)"
                    (drop)="onDrop($event)"
                  >
                    <input
                      type="file"
                      id="fileInput"
                      (change)="onFileSelected($event)"
                      hidden
                      accept=".xlsx, .xls"
                    />
                    <label for="fileInput" class="file-label" *ngIf="!fileExcelName">
                      Kéo thả hoặc chọn file excel của bạn tại đây
                      <br />
                      <span class="file-note">Lưu ý: Bạn có thể import nhiều bài viết trước và thêm thông tin chi tiết sau.</span>
                    </label>
                    
                    <div *ngIf="fileExcelName && !isUploading" class="file-preview">
                      <img src="https://i.pinimg.com/736x/13/88/5f/13885f590c6070c7f106b0f19a17ab9b.jpg" alt="Excel icon" class="file-icon" />
                      <span class="file-name">{{ fileExcelName }}</span>
                    </div>
                  </div>
              
                  <!-- Hiển thị thanh tiến trình khi đang tải file -->
                  <div *ngIf="isUploading" class="progress-bar">
                    <div class="progress" [style.width]="uploadProgress + '%'"></div>
                  </div>
  
                  <div *ngIf="!isUploading && fileExcelName" class="import-button-container">
                    <button class="import-action-btn" (click)="ImportExcel()">Import</button>
                    <button class="change-file-btn" (click)="changeFileExcel()">Đổi file</button>
                  </div>
                </div>
              </div>
              <!-- Bootstrap row to split content -->
              <div class="form-body" >
                <div class="form-left">
                  
                  <div id="statusWrapper" class="custom-checkbox-wrapper">
                    <label for="postStatus" class="post-status-label">Trạng thái bài viết</label>
                    <input type="checkbox" formControlName="TrangThai" class="switch-toggle-new" id="light-dark" >
                  </div>
                  <div class="image-upload">
                    <img *ngIf="imagePreview" [src]="imagePreview" id="post-image" alt="Post Image" style="width: 300px; max-height: 300px; object-fit: cover;" />
                    <img  *ngIf="!imagePreview" id="post-image" src="https://dummyimage.com/150x150/cccccc/ffffff" alt="Post Image" />
                    <input type="file" id="upload-image" formControlName="HinhAnh" (change)="onFileChange($event)" required />
                    <div class="input-wrapper-upload">
                      
                      <label for="upload-image" class="custom-file-upload">
                          <i class="fas fa-camera camera-icon"></i> <!-- Biểu tượng máy ảnh -->
                          <span>Chọn hình ảnh</span>
                    
                      </label>
                      <span *ngIf="(!postForm.get('HinhAnh')?.valid && postForm.get('HinhAnh')?.touched) || 
                      (!postForm.get('HinhAnh')?.valid && checkStep1)" class="error-icon-upload">
                        <i class="fa-solid fa-circle-exclamation" style="color: red;"></i>
                      </span>
                      
                  </div>
                  </div>
                </div>
                
                  <div class="form-right">
                      <!-- Start Tab Thông Tin -->
                      <div class="tab-content" >
                          <div class="form-section">

                            <div class="input-wrapper">
                              <label for="postTitle" class="form-label">Tiêu đề bài viết</label>
                              <span *ngIf="(!postForm.get('TieuDe')?.valid && postForm.get('TieuDe')?.touched) 
                                           || (!postForm.get('TieuDe')?.valid && checkStep1)" class="error-icon">
                                  <i class="fa-solid fa-circle-exclamation"></i>
                              </span>
                            </div>
                            <input type="text" class="form-control" id="postTitle" formControlName="TieuDe" placeholder="Nhập tiêu đề" required />
                          
                            <div class="input-wrapper">
                              <label for="postCategory" class="form-label">Danh mục</label>
                              <span *ngIf="(!postForm.get('DanhmucId')?.valid && postForm.get('DanhmucId')?.touched) || 
                                            (!postForm.get('DanhmucId')?.valid && checkStep1)" class="error-icon">
                                  <i class="fa-solid fa-circle-exclamation" style="color: red;"></i>
                              </span>
                          </div>
                          <select class="form-select" id="postCategory" formControlName="DanhmucId" required>
                              <option value="" disabled selected>Chọn danh mục</option>
                              <option *ngFor="let danhmuc of danhmucs" [value]="danhmuc.danhmucId">{{ danhmuc.tenDanhMuc }}</option>
                          </select>
                          
                          <div class="input-wrapper">
                              <label for="postDate" class="form-label">Ngày đăng</label>
                              <span *ngIf="(!postForm.get('NgayDang')?.valid && postForm.get('NgayDang')?.touched) || 
                                            (!postForm.get('NgayDang')?.valid && checkStep1)" class="error-icon">
                                  <i class="fa-solid fa-circle-exclamation" style="color: red;"></i>
                              </span>
                          </div>
                          <input type="date" class="form-control" id="postDate" formControlName="NgayDang" required />
                          
                          <div class="input-wrapper">
                              <label for="updateDate" class="form-label">Ngày cập nhật</label>
                              <span *ngIf="(!postForm.get('NgayCapNhat')?.valid && postForm.get('NgayCapNhat')?.touched) || 
                                            (!postForm.get('NgayCapNhat')?.valid && checkStep1)" class="error-icon">
                                  <i class="fa-solid fa-circle-exclamation" style="color: red;"></i>
                              </span>
                          </div>
                          <input type="date" class="form-control" id="updateDate" formControlName="NgayCapNhat" required />
                          
                          <div class="input-wrapper">
                              <label for="postContent" class="form-label">Mô tả ngắn</label>
                              <span *ngIf="(!postForm.get('MoTaNgan')?.valid && postForm.get('MoTaNgan')?.touched) || 
                                            (!postForm.get('MoTaNgan')?.valid && checkStep1)" class="error-icon">
                                  <i class="fa-solid fa-circle-exclamation" style="color: red;"></i>
                              </span>
                          </div>
                          <textarea class="form-control" id="postContent" formControlName="MoTaNgan" rows="3" placeholder="Nhập mô tả ngắn" required></textarea>
                          
                          <div class="input-wrapper">
                              <label for="viewCount" class="form-label">Lượng khách truy cập</label>
                              <span *ngIf="(!postForm.get('LuongKhachTruyCap')?.valid && postForm.get('LuongKhachTruyCap')?.touched) || 
                                            (!postForm.get('LuongKhachTruyCap')?.valid && checkStep1)" class="error-icon">
                                  <i class="fa-solid fa-circle-exclamation" style="color: red;"></i>
                              </span>
                          </div>
                          <input type="number" class="form-control" id="viewCount" formControlName="LuongKhachTruyCap" value="0" required />
                          
                          </div>
                      </div>
                      <!-- End Tab Thông tin -->
                  </div>

                  
              </div>
            </div>

          </form>

          <div *ngIf="currentStep === 2" class="step-content">
            <!-- Bước 2: Thêm chi tiết nội dung bài viết -->
            <h3>Thêm chi tiết nội dung bài viết</h3>
            <form [formGroup]="postForm">
              <div class="editor-container">
                <editor
                  formControlName="NoiDung"
                  [init]="editorConfig" 
                ></editor>
                
              </div>
            </form>
          </div>
          <div *ngIf="currentStep === 3" class="step-content">
            <!-- Bước 3: Xác nhận lại thông tin -->
            <h3>Xác nhận thông tin</h3>
            
            <!-- Hiển thị thông tin đã nhập để xác nhận -->
          </div>
        
          <div *ngIf="currentStep === 4" class="step-content">
            <!-- Bước 4: Hoàn tất -->
            <h3>Hoàn tất quá trình</h3>
            <p>Bài viết đã được thêm mới thành công!</p>

            <!-- Loading -->
            <div *ngIf="loading" class="loading-overlay">
              <div class="spinner-container">
                <div class="spinner"></div>
                <p>Vui lòng chờ ...</p>
              </div>
            </div>
          </div>
        
          <!-- Nút điều hướng giữa các bước -->
          <div class="progress_bar-nav">
            <button class="prev" [disabled]="currentStep === 1 || currentStep === 4" (click)="previousStep()">Trước</button>
            <button class="next" [ngClass]="{'active': currentStep !== steps.length}" (click)="nextStep()">Sau</button>
          </div>
        </div>
      </div>
    </div>
</div>











  


 



















