<div class="top-bar">
    <div class="social-icons">
      <p class="date-bar">{{ dayOfWeek }}, {{ formattedDate }}</p>
      <a href="#" class="icon facebook"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="icon instagram"><i class="fab fa-instagram"></i></a>
      <a href="#" class="icon twitter"><i class="fab fa-twitter"></i></a>
      <a href="#" class="icon gmail"><i class="fa-brands fa-tiktok"></i></a>
    </div>
    
    <div class="auth-buttons" *ngIf="!fullName; else userLoggedIn">
      <a routerLink="/login"><button class="login">Đăng nhập</button></a>
      <a routerLink="/register"><button class="register">Đăng ký</button></a>
    </div>
  
    <!-- Nếu đã đăng nhập, hiển thị avatar + icon -->
    <ng-template #userLoggedIn>
      <div class="user-container">
        <ul class="navbar-nav ms-auto userAdmin">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <div class="user-avatar">
                <img src="../../../assets/avatar_default.jpg" alt="Avatar" />
              </div>
            </a>
        
            <ul class="dropdown-menu custom-dropdown-menu" aria-labelledby="navbarUser">
              <li><a class="dropdown-item" href="#"><i class="fa-solid fa-user"></i> Thông tin</a></li>
              <li><a class="dropdown-item" href="#"><i class="fa-solid fa-gear"></i> Cài đặt</a></li>
              <li><a class="dropdown-item" href="#"><i class="fa-solid fa-lock"></i> Password</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item logout" (click)="logOut()"><i class="fa-solid fa-right-from-bracket"></i> Đăng xuất</a></li>
            </ul>
          </li>
        </ul>
        
        <span class="user-name">{{ fullName }}</span>
        <div class="icon-group">
          <div class="circle-icon" (click)="toggleChatBox()"><i class="fas fa-envelope"></i></div> <!-- Tin nhắn -->
          <div class="circle-bell" (click)="toggleNotifications(); getAllNotify()" [ngClass]="{'ring': isRinging}">
            <i class="fas fa-bell"></i>
            <span class="notify-count" *ngIf="totalNotify > 0">{{ totalNotify }}</span>
          </div>
        </div>
      </div>
    </ng-template>
  </div>

  <app-notification (totalNotifyChange)="onTotalNotifyChange($event)">
  </app-notification>

  <app-chat-box></app-chat-box>

  
      <div class="logo-container">
        <h2>THE NEWS</h2>
        <div class="logo-image">
            <img src="../../../../assets/logo-container.jpg" alt="logo-image">
        </div>
      </div>
      <hr class="silver-line2">
      <nav class="navigation">
          <ul>
              <li><i class="fa-solid fa-bars"></i></li>
              <li><a routerLink="/home">Home</a></li>
              <li><a routerLink="/home">Today</a></li>
              <li><a href="#">Music</a></li>
              <li><a href="#">Education</a></li>
              <li><a href="#">Celebrities</a></li>
              <li><a href="#">Sports</a></li>
              <li class="search-container">
                  <i class="fa-solid fa-search search-icon"></i>
                  <input 
                      type="text" 
                      class="search-bar" 
                      placeholder="Tìm kiếm bài viết" 
                      
                  />
              </li>            
          </ul>
      </nav>
      <hr class="silver-line2">