.navbar {
    margin-bottom: 0;
  }

  .sidebar {
    min-height: 100vh;
    background-color: #343a40;
    color: #fff;
  }

  .sidebar a {
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
  }

  .sidebar a:hover {
    background-color: #495057;
    text-decoration: none;
  }

  .content {
    padding: 20px;
  }

  .table-container {
    margin-top: 20px;
  }

  .btn-add {
    margin-bottom: 20px;
  }

#navbarNav{
    margin-left: 95px;
}

.title-admin{
    margin-left: 20px;
}

.nav-item{
    margin-right: 20px;
}