<div class="email-container" *ngIf="sendedCode">
  <div class="email-header">
    Xác nhận email của bạn
  </div>
  <div class="email-body">
    <p>Chúng tôi đã gửi thư xác nhận email của bạn là: <strong>{{ emailUser }}</strong>
      Vui lòng kiểm tra hộp thư lấy mã xác nhận trong vòng 3 phút.</p>

    <h2>Xác nhận 6 số xác minh email</h2>
    <div class="input-container">
      <input *ngFor="let field of fields; let i = index"
             type="number"
             class="code-input"
             [id]="'code' + (i + 1)"
             [(ngModel)]="code[i]"
             (input)="moveFocus($event, i + 1)">
    </div>
    
    <div *ngIf="errorMessage" class="error-message" >
      {{ errorMessage }}
    </div>
    

    <div class="button-container">
      <button (click)="submitCode()">Gửi</button>
    </div>

    <div class="button-container reset-container">
      <p *ngIf="!isDelayActive">Chưa thấy mã, gửi lại mã xác nhận</p>
      <p *ngIf="isDelayActive">Đợi 0:{{ countdown < 10 ? '0' + countdown : countdown }}</p>
      <button
        class="custom-reset-btn"
        (click)="resetCode()"
        [disabled]="isDelayActive">
        <i class="fa fa-refresh"></i>
      </button>
    </div>
  </div>
</div>


<!-- Loading -->
<div *ngIf="loading" class="loading-overlay">
  <div class="spinner-container">
    <div class="spinner"></div>
    <p>Vui lòng chờ ...</p>
  </div>
</div>


<div class="email-container" *ngIf="!sendedCode">
  <div class="email-header">
    Thông báo
  </div>
  <div class="email-body">
    <p>Email của bạn chưa được xác nhận. Vui lòng xác nhận email để tiếp tục.</p>

    <div class="button-container">
      <button (click)="sendVerificationCode()">Gửi mã xác nhận</button>
    </div>
  </div>
</div>





